<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/public/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- had to take out bootstrap slim Jquery- it was disabling me from being able to use ajax-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

    <title>Home Page</title>
</head>
<body>
    {{{body}}}
    <script type="text/javascript">
      $(document).ready(function () {

        switch (windowLoc) {
        case "/":

          loginOrRegister();
          break;

        case "/main":
          // this is already undefined when we get here
          id = localStorage.getItem("id");
          username = localStorage.getItem("username");
          console.log(id);
          $('#songScreenTitle').attr("style", "opacity: 0");
          $('#test').attr("style", "opacity: 0");
          $('#yourChoice').attr("style", "opacity: 0");
          $('.bd-example').attr("style", "opacity: 0");
          $('.changeButton').attr("style", "opacity: 0");
          $('.logOutButton').attr("style", "opacity: 0");
          $('.iframe').attr("style", "opacity: 0");
          makeAChoice();
          break;
      }

      function makeAChoice() {
        $("#selectionModal").modal({ backdrop: 'static', keyboard: false })
        $(".selectButton").on("click", function () {

          $('#selectionModal').modal('hide');
          $('#songScreenTitle').attr("style", "opacity: 1");
          $('#test').attr("style", "opacity: 1");
          $('#yourChoice').attr("style", "opacity: 1");
          $('.bd-example').attr("style", "opacity: 1");
          $('.changeButton').attr("style", "opacity: 1");
          $('.logOutButton').attr("style", "opacity: 1");
          $('.iframe').attr("style", "opacity: 1");
          $("#songScreenTitle").css("-webkit-animation", "fadein 1s")
          $('#test').css("-webkit-animation", "fadeInSlide 3s")
          $('#yourChoice').css("-webkit-animation", "fadein 1s")
          $('.bd-example').css("-webkit-animation", "fadein 2s")
          $('.changeButton').css("-webkit-animation", "fadein 2s")
          $('.logOutButton').css("-webkit-animation", "fadein 2s")
          $('.iframe').css("-webkit-animation", "fadein 1s")

          if ($(this).attr("choice") === "recommend") {
            //pass in the choice of recommend to Songs(); so that we can call the right API get path
            choice = "recommend";
          }
          else {
            //pass in the choice of random to Songs(); so that we can call the right API get path
            choice = "random";
          }
          Songs();
        })
      }

      });
    </script>
</body>
</html>