<div id="home">
  <div class="container">

    <div class="row">
      <div class="col-8 offset-2">
        <h1 id="songScreenTitle">My juke box</h1>

        <h3 id="yourChoice"></h3>
        <h2 id="test">Let me know if you like this song!</h2>
        <br>

        <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">

            <div class="carousel-inner">
            </div>

          </div>
        </div>
        <br>
        
        <button type="button" class="btn btn-success changeButton">Pick something else</button>
        <button type="button" class="btn btn-success logOutButton">Logout</button>

        <h3 style="visibility:hidden">Your favorites:</h3>

        <ul id="example-list" class="list-group-item local-render" style="visibility:hidden">

          {{#each favoriteSongs}}

          <li><strong>Song Name: </strong>{{songName}}
            <br>
            <strong>Artist: </strong>{{artistName}}
            <br>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          <br>

          {{/each}}

        </ul>
      </div>

    </div>

    <div class="modal" id="selectionModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">What would you like MyJukeBox to do?</h5>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-success selectButton" choice="recommend">Show me something I would like!</button>
            <button type="button" class="btn btn-success selectButton" choice="random">Give me Random Songs!</button>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>