body {
    background-image: url("https://t3.ftcdn.net/jpg/04/23/35/30/360_F_423353047_a6AlocUnhMDrvNwv6ccZONiIyr7UJo6k.jpg");
}

.list-group-item {
    line-height: 2.5;
  }
  
  .albumArt {
    filter: brightness(40%);
    height: 20rem;
    width: 24rem;
  }
  
  #login {
    position:relative;
    
  }
  
  #whatButton {
    position: relative;
    right: 15%;
  }
  
  .likeButton {
    position:relative;
    right: 23%;
    bottom:12rem;
  }
  
  .tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    position: absolute;
    left: 10px;
    border-bottom-color: goldenrod;
  }
  
  .tooltip-inner {
    position: relative;
    left:10px;
    color: white !important;
    text-align: center;
    background-color:goldenrod !important;
    border-radius: .25rem;
  }
  
  .dislikeButton {
    /*margin-left: 190px;*/
    position:relative;
    left: 60%;
    bottom:12rem;
  }
  
  .carousel-item {
    background-color: rgb(248, 243, 243);
    height:32rem;
  }